root = true

[*]
# Base style
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation
indent_style = space
indent_size = 4

# Python specific
[*.py]
max_line_length = 79
